:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --primary-header-color: #212121;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --hero-btn-bg-color: #188ce8;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-icon-color: #afb1b8;
  --transformation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --grad: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

body {
  color: var(--primary-text-color);
  background: var(--primary-background-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

button {
  cursor: pointer;
}

input,
textarea {
  outline: transparent;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--primary-header-color);
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.page-header__logo-end {
  color: var(--logo-color);
}

.site-nav {
  position: relative;
  display: flex;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    gap: 50px;
  }
}

.site-nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-header-color);
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transformation);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__item {
  position: relative;
}

.page-header__nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.auth-nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    flex-direction: row;
    margin-left: auto;
    gap: 50px;
  }
}

.auth-nav__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transformation);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__icon-mail,
.auth-nav__icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--primary-header-color);
}
@media screen and (min-width: 768px) {
  .page-header__menu-toggle {
    display: none;
  }
}

.page-header__mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  padding: 48px 40px;
  background-color: var(--primary-background-color);
  transform: translate(200%);
  transition: transform var(--transformation);
}
.page-header__mob-menu.is-open {
  transform: translateX(0);
}
.page-header__mob-menu.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.page-header__menu-icon {
  fill: currentColor;
  transition: fill var(--transformation);
}
.page-header__menu-close:hover .page-header__menu-icon, .page-header__menu-close:focus .page-header__menu-icon {
  fill: var(--accent-color);
}

.page-header__menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  margin-left: auto;
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .page-header__menu-close {
    display: none;
  }
}

.mob-nav {
  margin-bottom: 302px;
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-header-color);
}

.mob-contacts {
  margin-bottom: 64px;
}

.mob-contacts__tel-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts__tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.mob-contacts__tel-link:hover, .mob-contacts__tel-link:focus {
  color: var(--accent-color);
}

.mob-contacts__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.mob-contacts__mail-link:hover, .mob-contacts__mail-link:focus {
  color: var(--accent-color);
}

.mob-social {
  display: flex;
  gap: 20px;
}

.mob-social__item {
  position: relative;
}
.mob-social__item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  width: 22px;
  height: 1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-social_link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .current::after {
    position: absolute;
    content: "";
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.btn {
  height: 50px;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  border: none;
  font-family: inherit;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color var(--transformation), box-shadow var(--transformation);
}
.btn:hover, .btn:focus {
  background-color: var(--hero-btn-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--secondary-background-color);
  background-image: var(--grad), url(../images/hero_mob_1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--grad), url(../images/hero_mob_2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: var(--grad), url(../images/hero_tab_1x.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--grad), url(../images/hero_tab_2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--grad), url(../images/hero_desk_1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--grad), url(../images/hero_desk_2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  color: var(--secondary-text-color);
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero__btn {
  margin-top: 30px;
  min-width: 216px;
}

.feature-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.feature-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .feature-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.feature-list__wrap {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--third-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  transition: box-shadow var(--transformation);
}
.feature-list__wrap:hover, .feature-list__wrap:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feature-list__title {
  margin-bottom: 10px;
  color: var(--primary-header-color);
  font-size: 14px;
  line-height: 1.1428571429;
}

.feature-list__text {
  line-height: 1.7142857143;
}

.our-activities {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .our-activities {
    display: block;
  }
}

.our-activities__section-title {
  margin-bottom: 50px;
}

.activity-list__item {
  position: relative;
  width: 370px;
  height: 294px;
}

.activity-list__description {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondary-text-color);
}

.our-team {
  background-color: var(--third-background-color);
}

.our-team__section-title {
  margin-bottom: 30px;
}

.team__item {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--primary-background-color);
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--primary-header-color);
}

.team__text {
  font-size: 16px;
  line-height: 1.1875;
  margin-bottom: 16px;
}

.team__card {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team__card {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: calc((100% - 90px) / 4);
  }
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.contacts__item {
  width: 44px;
  height: 44px;
}

.contacts__link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transformation);
}
.contacts__link:hover, .contacts__link:focus {
  background-color: var(--accent-color);
}

.contacts__icon {
  fill: var(--primary-icon-color);
  transition: fill var(--transformation);
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: var(--secondary-text-color);
}

.reg-customers__section-title {
  margin-bottom: 30px;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.customers__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .customers__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 150px) / 6);
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  border: 1px solid var(--primary-icon-color);
  transition: border var(--transformation);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid var(--accent-color);
}

.customers__icon {
  fill: var(--primary-icon-color);
  transition: fill var(--transformation);
}
.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: var(--accent-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.page-footer__logo-end {
  color: var(--secondary-text-color);
}

.page-footer__contacts {
  margin-top: 20px;
}

.page-footer__adress {
  color: var(--secondary-text-color);
}

.page-footer__link {
  color: var(--footer-text-color);
  line-height: 1.71;
}

.page-footer__item {
  margin-top: 8px;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page-footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    align-items: baseline;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__adress-block {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__adress-block {
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .soc {
    margin-right: auto;
  }
}

.soc__header {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-icon {
  fill: var(--secondary-text-color);
}

.contacts__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transformation);
}
.contacts__link:hover, .contacts__link:focus {
  background-color: var(--accent-color);
}

.send {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .send {
    flex-direction: row;
    gap: 12px;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .wrap {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .wrap {
    margin-top: 0;
    text-align: start;
  }
}

.send__input {
  width: 450px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: transparent;
}
@media screen and (min-width: 1200px) {
  .send__input {
    width: 358px;
  }
}
.send__input::-moz-placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.send__input:-ms-input-placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.send__input::placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.send__btn {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transformation), visibility var(--transformation);
}

.modal {
  position: absolute;
  width: 450px;
  min-height: 609px;
  background-color: var(--primary-background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
  transition: transform var(--transformation);
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow var(--transformation), fill var(--transformation);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-header-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.mod-input {
  width: 370px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  outline: transparent;
  transition: border-color var(--transformation), fill var(--transformation);
}
@media screen and (min-width: 1200px) {
  .mod-input {
    width: 448px;
  }
}
.mod-input:focus {
  border-color: var(--accent-color);
}

.input-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
}

.modal-input {
  height: 40px;
}

.modal-textarea {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}
.modal-textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.mod-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.label-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .label-policy {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.policy-link {
  margin-left: 5px;
  color: var(--accent-color);
}

.label-policy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon-box {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-header-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 7px;
  transition: background-color var(--transformation), fill var(--transformation), box-shadow var(--transformation);
}
.input-policy:checked + .label-policy .check-icon-box {
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: var(--secondary-text-color);
}

.modal-btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
}

.filter-btn {
  padding: 6px 22px;
  color: var(--primary-header-color);
  background: var(--third-background-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  transition: color var(--transformation), background-color var(--transformation), box-shadow var(--transformation);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pf-title {
  margin-bottom: 4px;
  color: var(--primary-header-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-item {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.pf-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card .link {
  display: block;
  width: 370px;
  transition: box-shadow var(--transformation);
}
.card .link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-top-wrap {
  position: relative;
  overflow: hidden;
}

.card-top-text {
  position: absolute;
  height: 100%;
  top: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transformation);
}
.card .link:hover .card-top-text {
  transform: translateY(0);
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */