:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --primary-header-color: #212121;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --hero-btn-bg-color: #188ce8;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-icon-color: #afb1b8;
  --transformation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --grad: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
